<view class='notice' wx:if='{{notice}}' bindtap='notice'>
    你有新的消息通知
</view>
<view class='circle' wx:if='{{circle!=null && circle.length>0}}'>
    <view class='circle_list'>
        <block wx:for='{{circle}}' wx:key='circle'>
            <view class='item flex'>
                <view class='left' data-id='{{item.id}}' data-url='{{item.detailsUrl}}' bindtap='detail'>
                    <image src='{{item.topicUser.avatar}}' mode='aspectFill'></image>
                </view>
                <view class='main'>
                    <view class='title' data-id='{{item.id}}' data-url='{{item.detailsUrl}}' bindtap='detail'>

                        <view class='right'>
                            <view class='top'>
                                <view class='name'>{{item.topicUser.name}}</view>
                                <view class='time'>{{item.ctime}}</view>
                            </view>
                            <view class='btm'>
                                <view class='location'>
                                    <block wx:if='{{item.address}}'>
                                        <image src='../../img/map_1.png'></image>
                                        <text>{{item.address}}</text>
                                    </block>
                                </view>
                                <view class='hot' wx:if='{{item.top==1}}'>置顶</view>
                            </view>
                        </view>
                    </view>

                    <view class='body' data-id='{{item.id}}' data-url='{{item.detailsUrl}}' bindtap='detail'>
                        {{item.content}}
                    </view>
                    <view class='img' wx:if='{{item.pics.length>0}}' data-id='{{item.id}}' data-url='{{item.detailsUrl}}' bindtap='detail'>
                        <view class='img_box' wx:for='{{item.pics}}' wx:key='pics' wx:for-item='img'>
                            <image src='{{img}}' data-array='{{item.pics}}' data-src='{{img}}' mode='aspectFill' catchtap='preview'></image>
                        </view>
                    </view>
                    <view class='foot'>
                        <view class='part' wx:if='{{item.zan==0}}'>
                            <button data-index='{{index}}' data-id='{{item.id}}' hover-class='none' catchtap='weizan' disabled='{{circleZan}}'>
                                <image src='../../img/zan2.png'></image>{{item.goodCnt}}</button>
                        </view>
                        <view class='part select' wx:else>
                            <button catchtap='yizan' catchtap='yizan' hover-class='none' disabled='{{circleZan}}'>
                                <image src='../../img/zan1.png'></image>{{item.goodCnt}}</button>
                        </view>
                        <view class='part com'>
                            <image src='../../img/comment.jpg' mode='widthFix'></image>
                            <text>{{item.replyCnt}}</text>
                        </view>
                        <view class='part'>
                            <!-- <button data-id='{{item.id}}' data-avatar='{{item.topicUser.avatar}}' data-content='{{item.content}}' data-name='{{item.topicUser.name}}' data-time='{{item.ctime}}' bindtap='share'>
                                <image src='../../img/share.jpg' mode='widthFix'></image>分享得币</button> -->
                                 <button  data-item='{{item}}' open-type='share'>
                                <image src='../../img/share.jpg' mode='widthFix'></image>分享得糖果</button>
                        </view>
                    </view>
                </view>
            </view>
        </block>
    </view>
</view>
<view class='none' wx:else>
    <view class='box'>
        <text>你还没有发布过话题哦</text>
        <view class='fabu' bindtap='release'>赶紧去发布</view>
    </view>
</view>
<view class='Loading' hidden='{{Loading}}'>
    <image src='../../img/load.gif'></image>
    <text class='text'>加载中...</text>
</view>

<view class='all' wx:if='{{all}}'>已经加载全部数据</view>
<import src="../../template/template.wxml" />
<template is="toast" data="{{...item}}"></template>

<view class='dialog' hidden='{{dialog}}'>
    <view class='bg' bindtap='close'></view>
    <view class='preview'>
        <view class='canvas'>
            <canvas canvas-id="canvas"></canvas>
        </view>
    </view>
    <view class='btn1' bindtap='saveImg'>保存图片</view>
</view>
