<view class='circle'>
    <view class='circle_list'>
        <view class='item'>
            <view class='title'>
                <view class='left'>
                    <image src='{{topicDetail.ttUser.avatar}}' mode='aspectFill'></image>
                </view>
                <view class='right'>
                    <view class='top'>
                        <view class='name'>{{topicDetail.ttUser.name}}</view>
                        <view class='time'>{{topicDetail.ctime}}</view>
                    </view>
                    <view class='btm'>
                        <view class='location' wx:if='{{topicDetail.address}}'>
                            <image src='../../img/map_1.png'></image>{{topicDetail.address}}
                        </view>
                        <!-- <view class='hot'>置顶</view> -->
                    </view>
                </view>
            </view>

            <view class='body'>
                {{topicDetail.content}}
            </view>
            <view class='img' wx:if='{{topicDetail.pics}}'>
                <block wx:for='{{topicDetail.pics}}' wx:for-item='img' wx:key='aaaaa'>
                    <view class='img_box'>
                        <image src='{{img}}' data-array='{{topicDetail.pics}}' data-src='{{img}}' mode='aspectFill' bindtap='preview'></image>
                    </view>
                </block>
            </view>
        </view>
    </view>
</view>
<view class='foot'>
    <view class='li' wx:if='{{TempShow==0}}'>
        <button bindtap='Temp' hover-class='none' disabled='{{tempBtn}}' data-id='{{topicDetail.id}}'>
            <image src='../../img/zan2.png' mode='widthFix'></image>{{TempNum}}
        </button>
    </view>
    <view class='li select' wx:else>
        <button bindtap='temped' hover-class='none' disabled='{{tempBtn}}'>
            <image src='../../img/zan1.png' mode='widthFix'></image>{{TempNum}}
        </button>
    </view>
    <view class='li'>
        <image src='../../img/comment.jpg' mode='widthFix'></image>{{topicDetail.replyCnt}}
    </view>
    <view class='li'>
        <!-- <button data-id='{{topicDetail.id}}' data-avatar='{{topicDetail.ttUser.avatar}}' data-content='{{topicDetail.content}}' data-name='{{topicDetail.ttUser.name}}' data-time='{{topicDetail.ctime}}' bindtap='share'>
                                <image src='../../img/share.jpg' mode='widthFix'></image>分享得币</button> -->
        <button data-data='{{topicDetail}}' open-type='share'>
            <image src='../../img/share.jpg' mode='widthFix'></image>分享得糖果</button>
    </view>
</view>
<view class='topic_comment' wx:if='{{replies !=null && replies.length>0 }}'>
    <block wx:for='{{replies}}' wx:key='repliesaaa'>
        <view class='item' data-name='{{item.replyUser.name}}' data-tuid='{{item.tuid}}' data-suid='{{item.replyUser.id}}' data-id='{{item.id}}' bindtap='reply'>
            <view class='img'>
                <image src='{{item.replyUser.avatar}}' mode='aspectFill'></image>
            </view>
            <view class='text'>
                <view class='head'>
                    <view class='name'>
                        <view>{{item.replyUser.name}}</view>
                    </view>
                    <view class='zan' wx:if='{{item.zan==0}}'>
                        <button disabled='{{commentTemp}}' hover-class='none' data-index='{{index}}' data-id='{{item.id}}' catchtap='commentTemp'>
                            <image src='../../img/zan2.png' mode='widthFix'></image>{{item.goodCnt}}
                        </button>
                    </view>
                    <view class='zan select' wx:else>
                        <button disabled='{{commentTemp}}' hover-class='none' data-index='{{index}}' data-id='{{item.id}}' catchtap='commentTemped'>
                            <image src='../../img/zan1.png' mode='widthFix'></image>{{item.goodCnt}}
                        </button>
                    </view>
                </view>
                <view class='body'>
                    <view class='body_text'>
                        {{item.content}}
                    </view>
                    <view class='body_img' wx:if='{{item.type==2}}'>
                        <image src='{{item.media}}' data-img='{{item.media}}' mode='widthFix' catchtap='commentPriview'></image>
                    </view>
                </view>
                <view class='reply_box'>
                    <view class='time'>{{item.ctime}}</view>
                    <view class='dot'></view>
                    <view class='reply_btn'>
                        <view wx:if='{{item.total}}' data-name='{{item.replyUser.name}}' data-tuid='{{item.tuid}}' data-suid='{{item.suid}}' data-id='{{item.id}}' catchtap='reply'>
                            <block wx:if='{{item.total==0}}'>
                                <text>回复</text>
                            </block>
                            <block wx:else>
                                <text>{{item.total}}  回复</text>
                            </block>
                        </view>
                        <view wx:else data-name='{{item.replyUser.name}}' data-tuid='{{item.tuid}}' data-suid='{{item.suid}}' data-id='{{item.id}}' catchtap='reply'>
                            <text>回复</text>
                        </view>
                    </view>
                </view>
            </view>
        </view>
    </block>
    <view class='all' wx:if='{{all}}'>
        <text>已加载所有评论</text>
    </view>
</view>
<view class='none' wx:if='{{none}}'>
    暂时没有评论
</view>

<view class='fixed' bindtap='dialog'>
    <view class='left'>
        <text>回复{{placeholderText}}</text>
        <image src='../../img/img_gray.png' mode='widthFix'></image>
    </view>
    <view class='right'>发送</view>
</view>

<cover-view class='loading' hidden='{{loading}}'>
    <cover-image src='../../img/loading.jpg' mode='widthFix'></cover-image>
</cover-view>

<!-- 弹出评论 -->
<view class='dialog' wx:if='{{dialog}}'>
    <view class='bg' catchtap='closeDialog'></view>
    <form bindsubmit='submit'>
        <view class='content'>
            <view class='left'>
                <view class='left_content'>
                    <view class='textarea'>
                        <textarea placeholder='回复{{placeholderText}}' fixed='true' maxlength='100' auto-focus='{{focus}}' focus='{{focus}}' bindblur='blur' bindinput='input' value='{{textarea}}' name='content'></textarea>

                        <view class='num'>{{num}}</view>
                    </view>
                    <view bindtap='imgUpload' class='imgUpload' hidden='{{select}}'>
                        <image src='../../img/img_gray.png' mode='widthFix'></image>
                    </view>
                </view>
                <view class='img'>
                    <block wx:for='{{imgurl}}' wx:key='{{img_index}}'>
                        <view class='img-prview'>
                            <view class='cuo-view' data-index='{{index}}' bindtap='clearUrl'>
                                <image src='../../img/close.png'></image>
                            </view>
                            <image src='{{item}}' data-src='{{item}}' mode='aspectFit' bindtap='commentPreview'></image>
                        </view>
                    </block>
                </view>

            </view>
            <view class='button'>
                <button formType='submit' class='btn'>发布</button>
            </view>

        </view>


    </form>

</view>

<cover-view class='load' hidden='{{loading}}'>
    <cover-image src='../../img/topic_loading.jpg' mode='widthFix'></cover-image>
</cover-view>


<import src='../../template/template.wxml' />
<template is='toast' data='{{...item}}'></template>
<template is='auth' data='{{...auth}}'></template>

<view class='back' wx:if='{{scene}}' bindtap='back'>
    <image src='../../img/index.png'></image>
    <text>点击阅读更多精彩内容</text>
</view>

<view class='dialog' hidden='{{alert}}'>
    <view class='bg' bindtap='closeAlert'></view>
    <view class='preview'>
        <view class='canvas'>
            <canvas canvas-id="canvas"></canvas>
        </view>
    </view>
    <view class='btn1' bindtap='saveImg'>保存图片</view>
</view>